body {
  background: #fdf97e;
}

body > div:nth-child(2) {
  color: white;
  font-size: 30px;
}

.modal_button {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_button button {
  border: 4px solid orange;
  background: white;
  padding: 10px;
  width: 200px;
  height: 120px;
  font-size: 30px;
  border-radius: 10px;
}

.modal_button button:hover {
  background: #fdf97e;
  cursor: pointer;
}
